
@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<div class="row">
    <div class="col-md-4">Сюда изображение профиля</div>
    <div class="col-md-4">Сюда информация</div>
    <div class="col-md-4">Сюда ачивки</div>
</div>